* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {

}

.card .heading {

}

.card .desc {

}

.card .btn {

}


/* BEM */
.card {

}

.card--success .card__btn {
    /* Màu xanh */

}

.card--error .card__btn {
    /* Màu đỏ */
    
}

.card__heading {

}

.card__desc {

}

.card__btn {

}

.card__btn--size-s {
    
}